.margin {
  margin-top: 3.7rem;
}

.selector {
  width: 100px;
}

.innerText {
  margin-left: 0.5rem;
  margin-right: -0.5rem;
  color: #494949;
}

.containerBox {
  padding: 0px 5px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid #d8d8d8;
  margin-top: 1rem;
}

.input {
  margin-left: 1rem;
  flex: 1;
  text-align: center;
}

.paymentMethod {
  margin: 1.6rem 0;
}

.paymentSelect {
  margin-left: 0.5rem;
}

.buttonBuy {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 15px 50px 15px 50px;
  background-color: #16dfb5;
  color: #fff;
  border-radius: 4px 50px 50px 50px;
  cursor: pointer;
  transition: box-shadow .2s ease;
  border: none;
  width: 100%;
  margin-top: 6rem;
}

.buttonBuy:hover {
  box-shadow: 1px 1px 6px 1px #16dfb5;
}

.iconAndMethod {
  display: flex;
  align-items: center;
}

.iconAndFiatCurrency {
  display: flex;
  align-items: center;
}

.iconAndFiatCurrency img {
  margin-right: 0.2rem;
}