html {
  scroll-behavior: smooth;
}

.background {
  display: block;
  height: 900px;
  background: #5022ed;
  position: absolute;
  width: 90vw;
  top: -20px;
  right: 30px;
  border-radius: 53px;
  transform: rotate( -4deg);
  overflow: auto;
  z-index: -9999;
  transition: ease all .5s;
}

@media screen and (max-width: 1180px) {
  .background {
    height: 1100px;
    transition: ease all .5s;
  }
}

@media screen and (max-width: 750px) {
  .background {
    height: 1150px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(45deg, #5022ed); 	
    transform: skewY(-11deg);
    border-radius: 0;
  }
}